@import "https://unpkg.com/open-props";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header-background-color);
    padding: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
    background-image: url('https://raw.githubusercontent.com/shubhkarmanrathore/phase-1-final-project-crypto/main/bit.png?token=GHSAT0AAAAAACCJBCP26EYWXSCEOBDBQQQGZCVP3FQ');
    background-repeat: no-repeat;
    background-size: contain;
    width: 10rem;
    height: 10rem;
}

.search-container {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}
      
#search-input {
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 999px;
    background-color: var(--search-background-color);
    color: var(--search-text-color);
    font-size: 0.9rem;
    transition: all 0.2s ease;
}

#search-input:focus {
    outline: none;
    box-shadow: 0 0 0 3px var(--search-box-shadow-color);
}

.coins-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    margin: 2rem;
  }
  
.coin-card {
    width: 100%;
    background-color: var(--coin-card-background-color);
    border-radius: 0.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    transition: all 0.2s ease;
    cursor: pointer;
}

.coin-card:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-0.5rem);
}
  
.coin-card img {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    height: auto;
}
  
.coin-card h2 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 500;
}
  
.coin-card p {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}
  
.coin-card p:last-child {
    margin-bottom: 0;
}

.dark-mode {
    color: var(--dark-mode-color);
}

nav ul {
    display: flex;
    list-style: none;
  padding: 0;
  margin: 20px;
}
  
nav li {
    margin-right: 1rem;
}
  
nav a {
    text-decoration: none;
    color: #333;
}

footer {
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}
  
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}