@import "https://unpkg.com/open-props";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header-background-color);
    padding: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }